/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #ffffff;
  color: #1b1b1b;
}

.container {
  width: 850px;
  margin: 50px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
}


h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

h2 {
  color: #000000;
  margin-bottom: 20px;
}


form {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}


input {
  flex: 1;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  background: white;
  color: black;
  font-size: 15px;
}

input:focus {
  border-color: #2563eb;
}


.add-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.add-btn:hover {
  background: #1d4ed8;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}


table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

/* Header */
th {
  background: #2563eb;
  color: white;
  padding: 15px;
  text-align: center;
}

td {
  padding: 15px;
  text-align: center;
  color: black;
  border-bottom: 1px solid #e5e7eb;
}


tr:hover {
  background: #c6d0da;
}


td button {
  margin: 0 6px;
}

.edit-btn {
  background: #b47ee0;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn:hover {
  background: #c115d8;
}


.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #dc2626;
}


td[colspan="3"] {
  color: #6b7280;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 20px;
  }

  form {
    flex-direction: column;
  }

  .add-btn {
    width: 100%;
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 10px;
  }
}